Body {
    background-image: url('https://i.pinimg.com/originals/33/50/88/3350885f41f35cbb60a538dec310a4c2.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
