Body {
    text-align: center;
    font-size: x-large;
    padding: 25px;
    font-family: "Noto Sans", sans-serif;
    color: white;
    background-image: url('https://www.textures4photoshop.com/tex/thumbs/matrix-code-animation-gif-free-animated-background-716.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
.transparent-hacker-shape {
    mix-blend-mode: screen;
    display: block;
    margin: 0 auto;
    max-width: 100%; 
    width: 80%;
    height: auto;
}
